.white-button {
  background-color: var(--color);
  color: #7e88c3;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  cursor: pointer;
  line-height: 1;
}
.white-button:hover {
  filter: brightness(1.4);
}

.gray-button {
  background-color: var(--tertiary-color);
  color: var(--input-label-color);
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.gray-button:hover {
  filter: brightness(1.4) !important;
}

.purple-button {
  background-color: #7c5dfa;
  color: #f8f8f8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.purple-button:hover {
  filter: brightness(1.4);
}

.red-button {
  background-color: #ec5757;
  color: #f8f8f8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.red-button:hover {
  filter: brightness(1.4);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover {
  filter: none;
}
