.white-button {
  background-color: var(--color);
  color: #7e88c3;
  padding: 12px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  line-height: 1;
}
.white-button:hover {
  filter: brightness(1.4);
}

.gray-button {
  background-color: var(--tertiary-color);
  color: var(--input-label-color);
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

body[data-theme="dark"] .gray-button:hover {
  filter: brightness(1.4);
  background-color: var(--tertiary-color);
  color: var(--input-label-color);

}
body[data-theme="dark"] .gray-button:hover path{
  fill: var(--icon-path-stoke);
}
.gray-button:hover {
  background-color: #272729;
  color: white;
}
.gray-button:hover path{
  fill: white;
}
.purple-button {
  background-color: var(--main-title);
  color: #f8f8f8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.purple-button:hover {
  filter: brightness(1.4);
}

.red-button {
  background-color: #ec5757;
  color: #f8f8f8;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.red-button:hover {
  filter: brightness(1.4);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover {
  filter: none;
}
.google-signin .google-signin-button {
  background-color: #ffffff;
  border-radius: 30px;
  min-width: 250px;
  min-height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-signin .google-signin-button .google-signin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
}

.google-signin .google-signin-button .google-signin-text {
  color: #000000 !important;
}

.google-signin.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
