.login-container-cls {
  background-color: #141625;
  height: 100vh;
}

.login-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.login-social-container {
  padding-top: 60px;
  height: 100%;
}

.social-btn-container {
  display: flex;
  align-items: center;
  gap: 6px;
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  span {
    display: flex;
    align-items: center;
  }
  .social-btn-text {
    color: #3c4043;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
  }
}

.inputInvoiceCls {
  width: 100%;
  padding: 10px;
  height: 40px !important;
  border-radius: 4px;
  border: 1px solid white;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  color: #141625;
}

.register-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
