body {
  background-color: #141625;
}
.login-container-cls {
  background-color: #141625;
  height: 100vh;
  font-family: "Spartan", sans-serif !important;
}

.login-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.login-container-cls .inputInvoiceCls {
  width: 100%;
  padding: 10px;
  height: 40px !important;
  border-radius: 4px;
  border: 1px solid white !important;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  /* background-color: white !important; */
  color: white !important;
}

.login-container-cls label,
.login-container-cls span {
  color: white !important;
  font-size: 14px !important;
}

.login-container-cls .input-error {
  color: rgb(220 38 38);
}

.login-container-cls .input-error-container {
  height: 16px;
}

.login-container-cls .purple-button {
  font-size: 14px !important;
}

.login-container-cls .signup-signin-cls {
  cursor: pointer;
  font-weight: 600;
}

.login-container-cls .login-form-cls {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34374b;
  padding: 20px 80px;
  border-radius: 10px;
  gap: 15px;
}

.phone-number-input-container {
  display: flex;
  align-items: center;
}

.login-container-cls .phone-number-input-cls {
  display: flex; /* Equivalent to `flex` */
  align-items: center; /* Equivalent to `items-center` */
  border: 1px solid #ddd; /* Default border; you can customize the color */
  font-weight: 600; /* Equivalent to `font-semibold` */
  font-size: 13px; /* Equivalent to `text-[13px]` */
  height: 40px; /* Equivalent to `h-[40px]` */
  width: max-content; /* Equivalent to `w-max` */
  padding: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 1024px) {
  /* Equivalent to `lg:w-[27%]` */
  .custom-class {
    width: 27%;
  }
}

.login-container-cls .phone-number-input-cls img {
  width: 1.5rem;
  height: 1rem;
}

.login-container-cls .tel-input-field {
  width: 100%; /* Equivalent to `w-full` */
  padding-top: 10px; /* Equivalent to `py-[10px]` */
  padding-bottom: 10px; /* Equivalent to `py-[10px]` */
  padding-left: 5px; /* Equivalent to `px-[5px]` */
  padding-right: 5px; /* Equivalent to `px-[5px]` */
  height: 40px; /* Equivalent to `h-[40px]` */
  border-radius: 0 4px 4px 0; /* Equivalent to `rounded-r` */
  border: 1px solid #ddd; /* Default border; adjust as needed */
  font-weight: 600; /* Equivalent to `font-semibold` */
  font-size: 14px; /* Equivalent to `text-[14px]` */
  outline: none; /* Equivalent to `focus:outline-none` */
}
