body {
  background-color: #141625;
  color: #fff;
}
.auth-container {
  height: 100vh;
  font-family: "Roboto", sans-serif !important;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.auth-container .inputInvoiceCls {
  width: 100%;
  padding: 10px;
  height: 35px !important;
  border-radius: 4px;
  border: 1px solid white !important;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
}

.auth-container .inputInvoiceCls:-webkit-autofill,
.auth-container .inputInvoiceCls:-webkit-autofill:hover,
.auth-container .inputInvoiceCls:-webkit-autofill:focus,
.auth-container .inputInvoiceCls:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 20px 20px #34374b;
}
body[data-theme="light"] .auth-container .inputInvoiceCls {
  border: 1px solid #b4c2d5 !important;
}

.auth-container .input-error-cls {
  border-color: rgb(239 68 68) !important;
}

.auth-container label,
.auth-container span {
  font-size: 14px !important;
  color: white !important;
}

.auth-container .input-error {
  color: rgb(220 38 38);
}

.auth-container .input-error-container {
  height: auto;
}

.auth-container .purple-button {
  padding: 0 !important;
  min-height: 45px;
}

.auth-container .signup-signin-cls {
  cursor: pointer;
  font-weight: 600;
}

.auth-container .signup-signin-cls:hover {
  text-decoration: underline;
}

.auth-container .auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34374b;
  padding: 20px 80px;
  border-radius: 10px;
  gap: 15px;
  @media (max-width: 480px) {
    padding: 20px 20px;
  }
}

.auth-form h1 {
  font-size: 30px !important;
  font-weight: 700 !important;
}
.change-password-cls {
  padding: 40px 80px !important;
  margin-bottom: 70px !important;
  @media (max-width: 480px) {
    padding: 20px 20px !important;
  }
}
body[data-theme="light"] .change-password-cls {
  background-color: #f7faff !important;
  border: 1px solid #143f83 !important;
  h1 {
    color: #161c26 !important;
  }
}

.phone-number-input-container {
  display: flex;
  align-items: center;
}

.auth-container .phone-number-input-cls {
  display: flex; /* Equivalent to `flex` */
  align-items: center; /* Equivalent to `items-center` */
  border: 1px solid #ddd; /* Default border; you can customize the color */
  font-weight: 600; /* Equivalent to `font-semibold` */
  font-size: 13px; /* Equivalent to `text-[13px]` */
  height: 35px; /* Equivalent to `h-[35px]` */
  width: 65px; /* Equivalent to `w-max` */
  padding: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 1024px) {
  /* Equivalent to `lg:w-[27%]` */
  .custom-class {
    width: 27%;
  }
}

.auth-container .phone-number-input-cls img {
  width: 1.5rem;
  height: 1rem;
}
.auth-container .input-container {
  margin: 5px 0;
}

body[data-theme="light"] .auth-container .input-title {
  color: #161c26 !important;
}

.auth-container .tel-input-field {
  width: 100%; /* Equivalent to `w-full` */
  padding-top: 10px; /* Equivalent to `py-[10px]` */
  padding-bottom: 10px; /* Equivalent to `py-[10px]` */
  padding-left: 5px; /* Equivalent to `px-[5px]` */
  padding-right: 5px; /* Equivalent to `px-[5px]` */
  height: 35px; /* Equivalent to `h-[35px]` */
  border-radius: 0 4px 4px 0; /* Equivalent to `rounded-r` */
  border: 1px solid #ddd; /* Default border; adjust as needed */
  font-weight: 600; /* Equivalent to `font-semibold` */
  font-size: 12px; /* Equivalent to `text-[14px]` */
  outline: none; /* Equivalent to `focus:outline-none` */
}
