body {
  color: #fff;
  background-color: var(
    --primary-color
  ); /* Set the background color for the entire app */
  font-size: 16px; /* Set the base font size for the entire app */
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
p,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus,
a {
  outline: none;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

p {
  color: var(--input-label-color);
}
.w-100.invoices-list {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.invoice-list-item {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
}

.invoice-list-item-id {
  font-size: 18px;
  flex: 0.7;
  font-weight: 700;
  padding-top: 9px;
}

.invoice-list-item-date {
  font-size: 18px;
  font-weight: 400;
  flex: 1;
  color: var(--input-label-color);
  padding-top: 9px;
}

.invoice-list-item-name {
  font-size: 18px;
  font-weight: 400;
  flex: 1;
  padding-top: 9px;
}

.invoice-list-item-amount {
  font-size: 20px;
  font-weight: 700;
  flex: 1;
  padding-top: 9px;
}

.invoice-list-item-status {
  font-size: 18px;
  font-weight: 500;
  background: green;
  padding: 16px;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice-list-item-action {
  margin-left: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.template-tile {
  transition: border 0.2s ease-in-out;
}
.template-content {
  cursor: pointer;
  gap: 5px;
  padding: 10px;
  border: 2px solid transparent;
  min-width: 100%;
}
.template-preview-image {
  border-radius: var(--border-radius);
}
.selected-invoice-template {
  border-color: #3498db;
  border-radius: var(--border-radius);
}
.upload-container-cls {
  display: flex !important;
  flex-direction: column;
}
.bill-to-container,
.bill-from-container {
  background-color: var(--tertiary-color);
  border: 1px solid var(--color-white-dark);
}
.formDropdownCls {
  width: 25% !important;
}
.contact-container .PhoneInput--focus {
  color: var(--primary-color);
}

.contact-container .PhoneInput {
  /* margin-bottom: 10px; */
}

.contact-container .PhoneInputInput {
  width: 100%;
  padding: 10px;
  height: 35px !important;
  border-radius: 0 0 4px;
  border: 1px solid var(--input-border-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: var(--color);
}

.contact-container .PhoneInputCountry {
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-color);
  margin-right: auto !important;
  padding: 0 4px;
  border-radius: 4px 0 0;
  .PhoneInputCountrySelectArrow {
    color: rgb(124, 93, 250) !important;
  }
}

.input-container-cls {
  flex-direction: row !important;
  .invoice-title-container {
    width: 100% !important;
    margin: 10px;
    font-weight: 600;
    @media screen and (max-width: 420px) {
      width: 60% !important;
    }
  }
  .input-invoice-cls {
    width: 100%;
    padding: 10px;
    height: 35px !important;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    font-family: inherit;
    font-size: 12px;
    background-color: var(--secondary-color);
    color: var(--color);
    margin-bottom: 3px !important;
  }
  .input-field {
    margin-bottom: 0 !important;
  }
}
.due-date-input-container-cls {
  .input-field {
    margin-bottom: 0 !important;
  }
}
.due-date-picker-container {
  width: 90% !important;
  gap: 14px !important;
}

.date-picker-cls {
  gap: 14px !important;
}
.due-date-input-container {
  .input-field {
    margin-bottom: 0 !important;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 20px !important;
  }
}
.tel-input-field {
  color: var(--color);
}

.input-field::-webkit-input-placeholder,
.tel-input-field::-webkit-input-placeholder {
  color: #999999 !important; /* Light gray */
  opacity: 0.7 !important; /* Semi-transparent */
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 60%;
  border-width: 6px;
  border-style: solid;
  border-color: transparent rgb(229 231 235 / var(--tw-bg-opacity)) transparent
    transparent;
  transform: rotate(220deg);
  transform-origin: top right;
}

.textarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: auto;
  field-sizing: content;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--input-border-color) !important;
  font-family: inherit;
  font-size: 12px;
  user-select: none;
  background-color: var(--secondary-color);
  color: var(--color);
}

.parties-details-container {
  display: block !important;

  .bill-from-main-container {
    width: 100% !important;
  }
  .bill-to-main-container {
    width: 100% !important;
  }
}
.items-details-section {
  display: block !important;
}
.invoice-details-section {
  display: block;
}
.custom-field-label {
  width: 90%;
  display: flex;
  gap: 10px;
}
.add-new-item-btn {
  @media (max-width: 768px) {
    width: 60% !important;
  }
}

.items-details-container {
  margin-bottom: 20px !important;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  border: 1px solid var(--color-white-dark);
}

.item-details-section {
  padding: 20px !important;
}

.invoice-templates-cls {
  background-color: var(--tertiary-color) !important;
  border-radius: 10px;
  border: 1px solid var(--input-border-color);
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
.slick-prev::before,
.slick-next::before {
  color: var(--color) !important;
  .invoice-preview-container {
    p {
      color: unset !important;
    }
    .logo-preview {
      margin-bottom: 80px !important;
    }
  }
}
.random-temp-cls {
  background-color: rgb(101, 57, 192);
}

.items-amount-cls .input-container {
  width: auto !important;
}
