.FormDropdown-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.FormDropdown-title {
  color: var(--input-label-color);
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
}

.FormDropdown {
  width: 100%;
  padding: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  font-family: inherit;
  font-size: 12px;
  background-color: var(--secondary-color);
  color: var(--color);
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.FormDropdown-selected {
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.FormDropdown-selected.open > svg {
  transform: rotate(180deg);
}

.FormDropdown-menu {
  position: absolute;
  top: 112%;
  left: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: 0px 7px 12px rgba(255, 255, 255, 0.1);
  z-index: 1000;
  max-height: 300px;
  border-radius: 10px;
  overflow-y: auto;
  display: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--input-border-color);
}

.FormDropdown-menu.open {
  display: block;
}

.FormDropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.FormDropdown-item:hover {
  opacity: 0.6;
}

.FormDropdown-search {
  border-bottom: 1px solid var(--color);
}

.FormDropdown-search-input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background: var(--bg-color-light);
  color: var(--color);
}

.FormDropdown-no-options {
  padding: 8px;
  text-align: center;
  color: var(--color-muted);
}

/* Optional: Customize scrollbar */
.FormDropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.FormDropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 4px;
}

.FormDropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #aaa !important;
}
